<mat-list id="id__mat-list">
    <mat-list-item id="id__mat-list-item">
        <mat-card>
            <mat-card-content>Simple card</mat-card-content>
        </mat-card>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item id="id__mat-list-item"><mat-card>
            <mat-card-content>Simple card</mat-card-content>
        </mat-card>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item id="id__mat-list-item">
        <mat-card id="">
            <mat-card-header>
                <mat-card-title>Titulo</mat-card-title>
                <mat-card-subtitle>Subtitulo</mat-card-subtitle>
                
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="./assets/images/descarga.jpg">
            </mat-card-content>
        </mat-card>
    </mat-list-item>
</mat-list>